Repository BinaryStudioAcademy/quality-criteria, changes with the labels that .github/labeler.yml gives for each.
All labels: JS, .NET

.github/labeler.yml:

JS:
  'src/javascript.md'

.NET:
  'src/dotnet.md'

production: + example file
  .ls-lint.yml
  src/_example.md
  src/dotnet.md
  src/javascript.md
Labels: JS, .NET

production: * paddings on example file
  src/_example.md
Labels: none

production: * js criteria
  src/javascript.md
Labels: JS

production: * js criteria
  src/javascript.md
Labels: JS

production: * numbers of js criateria
  src/javascript.md
Labels: JS

production: * js code snippets
  src/javascript.md
Labels: JS

production: * A2 for js
  src/javascript.md
Labels: JS

production: + new styles rule
  src/javascript.md
Labels: JS

production: * js b8 rule
  src/javascript.md
Labels: JS

production: * js rules style
  src/javascript.md
Labels: JS

qc-21: * classes and enums with acronyms should have specific rule for naming
  src/javascript.md
Labels: JS

production: * js b8 rule
  src/javascript.md
Labels: JS

qc-23: * equality sign for the enums assignment
  src/javascript.md
Labels: JS

qc-3: * conflict resolved
  src/javascript.md
Labels: JS

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

production: * js base rules
  src/javascript.md
Labels: JS

production: * danger js config
  dangerfile.ts
Labels: none

production: * ci pr workflows
  .github/workflows/ci-pr.yml
Labels: none

production: * ci pr workflows
  .github/workflows/ci-pr.yml
Labels: none

production: * ci pr workflows
  .github/workflows/ci-pr.yml
Labels: none

production: * js criterias markup
  src/javascript.md
Labels: JS

production: + issue templates
  .github/ISSUE_TEMPLATE/propose-edit-rule.md
  .github/ISSUE_TEMPLATE/propose-new-rule.md
Labels: none

production: * fix grammar/logical mistakes
  src/javascript.md
Labels: JS

production: + modern syntax rule
  src/javascript.md
Labels: JS

production: * modern syntax rule
  src/javascript.md
Labels: JS

qc: * incorrect rule number
  src/javascript.md
Labels: JS

qc-18: * fix js b28 rule
  src/javascript.md
Labels: JS

qc-24: * fix js a12 rule
  src/javascript.md
Labels: JS

qc-25: * fix misspellings
  src/javascript.md
Labels: JS

production: * ls lint
  .ls-lint.yml
Labels: none

qc-24: * move exception to details
  src/javascript.md
Labels: JS

qc-21: + placeholder to the example in js b36 rule
  src/javascript.md
Labels: JS

qc-21: * prettier warnings
  src/javascript.md
Labels: JS

qc-31: * fix a9 rule
  src/javascript.md
Labels: JS

qc-31: * update npm version
  package-lock.json
  package.json
Labels: none
